audit=false # Disable audit checks
auto-install-peers = true # Automatically install peer dependencies
engine-strict=true # Enforce engine versions
fund=false # Disable funding messages
save=true # Save exact versions of packages
save-exact=true # Save exact versions of packages
